<?xml version="1.0"?>
<config>
    <modules>
        <Istreet_Diy>
            <version>0.1.2</version>
        </Istreet_Diy>
    </modules>
    <frontend>
        <routers>
            <diy>
                <use>standard</use>
                <args>
                    <module>Istreet_Diy</module>
                    <frontName>diy</frontName>
                </args>
            </diy>
        </routers>
        <layout>
            <updates>
                <diy>
                    <file>diy.xml</file>
                </diy>
            </updates>
        </layout>
        <category>
            <collection>
                <attributes>
                    <custom_class />
                </attributes>
            </collection>
        </category>
    </frontend>
    <global>
        <helpers>
            <diy>
                <class>Istreet_Diy_Helper</class>
            </diy>
        </helpers>
        <blocks>
            <diy>
                <class>Istreet_Diy_Block</class>
            </diy>
        </blocks>
        <models>
            <diy-eav>
                <class>Istreet_Diy_Model</class>
                <resourceModel>diy-eav_mysql4</resourceModel>
            </diy-eav>
            <diy-eav_mysql4>
                <class>Istreet_Diy_Model_Resource_Eav_Mysql4</class>
                <entities>
                    <slider>
                        <table>sliders</table>
                    </slider>
                </entities>
            </diy-eav_mysql4>
            <diy>
                <class>Istreet_Diy_Model</class>
                <resourceModel>diy_mysql4</resourceModel>
            </diy>
        </models>
        <resources>

            <diy-category_setup>
                <setup>
                    <module>Istreet_Diy</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
            </diy-category_setup>

            <diy-eav_setup>
                <setup>
                    <module>Istreet_Diy</module>
                    <class>Istreet_Diy_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </diy-eav_setup>
            <diy-eav_write>
                <connection>
                    <use>default_write</use>
                </connection>
            </diy-eav_write>
            <diy-eav_read>
                <connection>
                    <use>default_read</use>
                </connection>
            </diy-eav_read>


            <slider1496914198_setup>
                <setup>
                    <module>Istreet_Diy</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </slider1496914198_setup>
            <slider1496914198_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </slider1496914198_write>
            <slider1496914198_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </slider1496914198_read>
        </resources>
    </global>
    <admin>
        <routers>
            <diy>
                <use>admin</use>
                <args>
                    <module>Istreet_Diy</module>
                    <frontName>admin_diy</frontName>
                </args>
            </diy>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <diy module="diy">
                <title>Diy</title>
                <sort_order>100</sort_order>
                <children>
                    <diybackend module="diy">
                        <title>Backend Page Title</title>
                        <sort_order>0</sort_order>
                        <action>admin_diy/adminhtml_diybackend</action>
                    </diybackend>
                    <slider module="diy">
                        <title>Manage Slider</title>
                        <sort_order>0</sort_order>
                        <action>admin_diy/adminhtml_slider</action>
                    </slider>
                </children>
            </diy>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <diy translate="title" module="diy">
                            <title>Diy</title>
                            <sort_order>1000</sort_order>
                            <children>
                                <diybackend translate="title">
                                    <title>Backend Page Title</title>
                                </diybackend>
                                <slider translate="title">
                                    <title>Manage Slider</title>
                                    <sort_order>0</sort_order>
                                </slider>
                            </children>
                        </diy>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <diy>
                    <file>diy.xml</file>
                </diy>
            </updates>
        </layout>
    </adminhtml>
</config> 